# FOLDERS
**/.vs/
/demo/
/design/

# USER-SPECIFIC FILES
*.suo 
*.user 
*.userosscache
*.sln.docstates

# HIDDEN FILES / FOLDERS
!/.gitignore

# CMake build files
/build/

# JUCE repository module and code
/JUCE/
/Rotor/JuceLibraryCode/
